<style media="screen">
  .head_body{
    background-color: rgb(56, 185, 255);
    width: 100%;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header_index{
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgba(43, 173, 198, 0.55);
  width: 100%;
  height: 100px;
  margin-top: 5px;

  }
  .header_index img{
    float:left;
    margin-left: 15%;
    width: 80px;
    height: 80px;
  }
  .header_index p{
    font-size: 40px;
    text-shadow: 2px 2px 5px;

  }
  .body_index{
    background-color: rgba(43, 173, 198, 0.55);
    text-indent: 50px;
    padding-top: 100px;
  }
  .foot_name{
    text-align: center;
    background-color: rgb(255, 0, 0);
    height: auto;
  }

  p{
    text-align: center;
    font-size: 20px;

  }
  boby{
    margin: 0px;
    padding:0px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
  }
  table{
    width:100%;
  }
  td, th {
  text-align: center;
  padding: 8px;
  font-size: 16px;
  }

  tr:nth-child(even) {
  background-color: rgb(197, 230, 254);
  }
  p{
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;

  }
  #data1{
    text-align: left;
    font-size: 16px;
    color: rgb(71, 255, 0);

  }
  #time_food{
    text-align: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
  .pic_preview{height:auto;padding-bottom:100%;background-size:cover;background-position:center;}
    .price{font-size: 18px;font-weight: 500;color: #f57224;}
    .discount_price{font-size: 10px;color: #9e9e9e;}
    .cus-icon:before {
        width: 30px;
        height: 30px;
    }
    /*sidemenu ด้านซ้าย*/
    .l-sidenav {
        position: fixed;
        z-index: 1040;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        overflow-x: hidden;
    }
    .browse_page{
    clear:both;
    height:35px;
    margin-top:5px;
    display:block;
  }
</style>
